table {
    margin: 1em auto;
}

td {
    height: 30px;
    width: 30px;
    border: 1px solid;
    text-align: center;
}

td:nth-child(3n) {
    border-right: solid;
}

.inputNumber {
    width: 34px;
    height: 34px;
}