table {
    margin: 1em auto;
}

td {
    height: 30px;
    width: 30px;
    border: 1px solid;
}

td:first-child {
    border-left: solid;
}

td:nth-child(3n) {
    border-right: solid;
}


tbody:first-child {
    border-top: solid;
    border-collapse: separate;
}

tbody:nth-child(3n) {
    border-bottom: solid;
    border-collapse: separate;
}

input {
    width: 34px;
    height: 34px;
    border: 0;
    text-align: center;
    font-size: 24px;
}

table {
    border-collapse: collapse;
}

.game-contents {
    text-align: center;
}

.sudoku-solve-button {
    background-color: #4CAF50;
    border: black;
    color: white;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}